<h1> New Article </h1>


<%= form_for :article, url: articles_path do |art| %>
  <p>
    <%= art.label :title %><br>
    <%= art.text_field :title %>
  </p>

  <p>
    <%= art.label :text %><br>
    <%= art.text_area :text %>
  </p>

  <p>
    <%= art.submit %>
  </p>
<% end %>
